<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Conceitos Básicos</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <script src="./js/vue.min.js"></script>
</head>
<body class="exercicio">
    <div id="app">
        <p>1) {{ 2 + 2 }} </p>
        <p>2) {{ 'teste'.toUpperCase() }} </p>
        <p>3) Produto: {{ name }}, R${{ price }}, {{ discount }}% </p>
        <p>4) {{ hourRigth }} </p>
        <p>5) {{ calculatePriceWithDicount }} </p>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                name: 'Camisa',
                price: 129.90,
                discount: 0.10,
            },
            methods: {
                hourRigth: function () {
                    return new Date().toLocaleDateString();
                }
            },
            computed: {
                calculatePriceWithDicount: function () {
                    return this.price * (1 - this.discount)
                }
            }
        })
    </script>
</body>
</html>