<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Binding</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <script src="/js/vue.min.js"></script>
</head>
<body class="exercicio">
    <div id="app">
        <p> {{ link }} </p>
        <a href="{{ link }}">
        <a v-bind:href="link">
        <a :href="link">
        <p>
            <!-- Ignora os clicks no elemento, não realizando ações-->
            <input v-model="name" @click.prevent>
            <p> {{ name }} </p>
        </p>
    </div>

    <script>
        const app = new Vue({
            el: "#app",
            data: {
                name: 'Renan',
                link: "https://www.google.com"
            },
        })
    </script>
</body>
</html>