<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Componente</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <script src="/js/vue.min.js"></script>
</head>
<body class="exercicio">
    <div id="app">
        <accounant></accounant> <br>
        <accounant></accounant> <br>
        <accounant></accounant>
    </div>
    <script>
        Vue.component('accounant', {
            props: {
                // Estado inicial do contador.
                state: {
                    type: Number,
                    default: 0
                }
            },

            template: `
                <span> 
                    <button @click="increment"> + </button>    
                    <span> {{counter}} </span>
                <span/>
            `,
            
            // Retorna o valor atual do contador.
            data: function () {
                return {
                    counter: this.state
                }
            },

            // Função para incrementar ao contador.
            methods: {
                increment: function () {
                    this.counter++;
                }
            }
        })

        const app = new Vue({
            el: "#app"
        })
    </script>
</body>
</html>