<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Componente</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <script src="/js/vue.min.js"></script>
</head>
<body class="exercicio">
    <div id="app">
        <greeting name="Renan"></greeting> <br/>
        <greeting name="Ruth"></greeting>
    </div>
    <script>
        Vue.component('greeting', {
            // Propriedade recebida na chamada do componente.
            props: ['name'],
            template: `
                <span> Bom dia, {{ name }}! </span>
            `
        })

        const app = new Vue({
            el: "#app"
        })
    </script>
</body>
</html>