<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Eventos</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <script src="/js/vue.min.js"></script>
</head>
<body class="exercicio">
    <div id="app">
        <p> {{ counter }} </p> 
        <p>
            <button v-on:click="add"> +1 </button>
            <button @click="counter -= 2"> -2 </button>
        </p>
        <p @mousemouve="updatePosition">
            <p> {{ x }} x {{ y }} </p>
            <p @mousemouve.stop> Aqui Não </p>
        </p>
        <input type="text" @keyup.enter="alerta">
    </div>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
                counter: 0,
                x: 0,
                y: 0
            },
            methods: {
                add: function () {
                    counter++;
                },

                updatePosition: function (e) {
                    this.x = e.clientX;
                    this.y = e.clientY;
                },

                alerta: function () {;
                    alert('Enter')
                }
            } 
        })
        
    </script>
</body>
</html>