<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>If & For</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <script src="/js/vue.min.js"></script>
</head>
<body class="exercicio">
    <div id="app">
        <div v-for="(student, i) in students">
            {{i+1}}) {{ student.name }} - {{ student.grade }} -
            <span v-if="student.grade > 8"> Quadro de Honra </span>
            <span v-else-if="student.grade > 6"> Aluno Aprovado </span>
            <span v-else-if="student.grade > 4"> Aluno em Recuperação </span>
            <span v-else> Aluno Reprovado </span>
        </div>
        <ul style="list-style: none;">
            <span v-for="n in 10">
                <span v-show="n >= 5"> {{ n }} </span>
            </span>
        </ul>
    </div>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
                students: [
                    {name: "Renan", grade: 6.8},
                    {name: "Ruth", grade: 8.4},
                    {name: "José", grade: 4.7},
                    {name: "Maria", grade: 1.6},
                ]
            }
        })
    </script>
</body>
</html>