<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <script src="/js/vue.min.js"></script>
</head>
<body class="exercicio">
    <div id="app"></div>
    <script>
        const app = new Vue({
            el: "#app", 
            data: {
                title: "Vue Js",
                subtitle: "Framework Progressivo"
            },
            template: `
                <div> 
                    <h1> {{ title }} </h1>
                    <h2> {{ subtitle }} </h2>    
                </div>
            `
        })
    </script>
</body>
</html>